<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.1</key>
	<string>- version 1.1
- improve UI
    </string>
	<key>1.2</key>
	<string>- fix bug</string>
	<key>2.0</key>
	<string>major update</string>
</dict>
</plist>
